@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #29335c;
  --secondaryColor: #db2b39;
  --accentColorYellow: #f4d35e;
  --backgroundColorLightGray: #f0f0f0;
  --backgroundColorCoolWhite: #f9f9f9;
}

